nav {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw; /* view window */
    height: 60px;
}

nav ul li {
    border: 10%;
    display: inline-block;
    color:blue;
    font-weight: bold;
    margin-right: 20px;
    border: 5px solid;
    width: 5%;
}

nav ul {
    text-align: right;
}

div {
    background-color: white;
    font-size: larger;
    border: 5px;
    width: 20%;
    margin-left: 35%;
    text-align: center;
    font-size: 120%;
    padding: 50px;
    
    }

.fb {
    border-radius: 300px;
    margin-left: 0%;
    
}

.Github {
    border-radius: 300px;
    margin-left: auto;
}

.Instagram {
    border-radius: 300px;
    margin-left: auto;
}

.twitter {
    border-radius: 300px;
    margin-left: auto;
}

body {
    background-color: #1999E4;
}
